{{!-- {{#each cards}}
  <li class="card">
    <img src="{{image}}" alt="{{title}}" class="cards__img">
    <h3 class="cards__title">{{title}}</h3>
    <p class="cards--date">{{date}}</p>
    <p class="cards--location">{{place}}</p>
  </li>
{{/each}} --}}
