<div class="card">
  <img src="{{image}}" alt="{{title}}" class="card__image">
  <h2 class="card__title">{{title}}</h2>
  <p class="card__date">{{date}}</p>
  <p class="card__location">{{location}}</p>
</div>